

* {
    background-color: #FFD6FF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background-size: cover;
    height: 50px;

}
.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: white;
}

.nav-link {
    padding: 0px;
    background-color: white;
    color: #D1BDFF;
}

.articles {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.list_articles {
    color: white;
}

.clique {
    list-style: none;
}

.les_articles a{
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 20px;
    list-style-type: none;
    color: #C68AFF;
}

.message-success {
    color: white;
}
.message-error {
    color: white;
}

.ajoute {
    color: white;
}

.regarder{
    color: white
}

.accueil {
    color: white;
}

.nav-items {
    color: white;
}