{% extends'base.html.twig' %}

{% block main %}
    <article>
        <h2 style="color: {{ category.color }};"{{ category.title }}</h2>
    </article>
{% endblock %}

{% block footer %}
    <footer><p>Les catégories</p></footer>
{% endblock %}