{% extends 'base.html.twig' %}

{% block main %}
    <form action="{{path("admin_insert_categories") }} " method="get">
        <label for="title">Titre</label>
        <input name="title" id="title" type="text">

        <label for="color">Couleur</label>
        <input name="color" id="color" type="color">

        <label for="description"></label>
        <textarea name="description" id="description">Description</textarea>

        <button>Envoyer</button>

    </form>

{% endblock %}

