{% extends 'base.html.twig' %}

{% block main %}

    {% for category in categories %}
        <article>
            <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
            <a href="{{ path('all_category', {'id': category.id}) }}">Les différents fruits</a>
        </article>
    {% endfor %}

{% endblock %}